@model ProyectoProgra2.Models.INSCRIPCION_ESTUDIANTES

@{

}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>
    <div>
        <h4>INSCRIPCION_ESTUDIANTES</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.ESTUDIANTES.NOMBRE)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.ESTUDIANTES.NOMBRE)
            </dd>
    
        </dl>
    </div>
    <p>
        @Html.ActionLink("Back to List", "Index")
    </p>
</body>
</html>
