@{
    ViewBag.Title = "Contact";
}
<main aria-labelledby="title">
    <h2 id="title">@ViewBag.Title.</h2>
    

    <address>
        Universidad Mariano Galvez<br />
        Sede Naranjo<br />
    </address>

    <address>
        <strong>Frank de la Roca:</strong>   <a href="mailto:fdelarocag@miumg.edu.gt">fdelarocag@miumg.edu.gt</a><br />
        <strong>Eduardo Aroche</strong> <a href="mailto:earochen@miumg.edu.gt">earochen@miumg.edu.gt</a>
    </address>
</main>